{% extends './templates/homepage.swig' %}

{% block content %}
    <h2> Interests </h2>
    <img src='/images/jmd-headshot.jpg' style="max-width:40%;" class="right">
    My interest is in combinatorial optimization and revenue management. Specifically, I am interested in designing approximation algorithms for NP-hard problems that arise in assortment optimization.
    <br> <br>
    I work primarily in assortment optimization. In these problems we are given a model for how customers consume products and our objective is to find the "right" set of products to put on the shelves, or web page, to maximize revenue.
    <br> <br>
    <h2> Position </h2>
    I am currently an Assistant Professor in the ISE Department at The University of Illinois at Urbana Champaign.
    <br> <br>
    <h2>Education</h2>
    <ul>
        <li> Ph.D., 2015, Cornell ORIE, advisers:
        <ul>
            <li>Huseyin Topaloglu</li>
            <li>David P. Williamson</li>
        </ul>
        </li>
        <li> B.A., 2010, Rutgers University-Camden, adviser:
            <ul>
                <li>Rajiv Gandhi</li>
            </ul>
        </li>
    </ul>
{% endblock content %}